.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem;
}

.date {
    font-size: 2vw;
    font-weight: bold;
    margin: 1rem 0rem;
}

.title {
    font-size: 2vw;
    font-weight: bold;
}

.copywright {
    font-size: 1.5vw;
    font-weight: bold;
    margin: 1rem 0rem;
}

.explanation span {
    font-weight: bold;
}
